h1 {
  padding: 20px;
  margin: 10px;
}
h3 {
  text-align: center;
  border-bottom: dashed;
  padding-bottom: 20px;
}
h4 {
  padding-top: 10px;
}
.player {
  float: left;
  padding: 20px;
  border: dashed;
  margin: 5px;
}
.scores {
  display: table;
}
.scores span {
  display: table-cell;
  text-align: center;
  padding-left: 5px;
}
.row {
  display: table-row;
}
.inputForm {
  padding-top: 10px;
  padding-bottom: 10px;
}
